.homepage-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  color: var(--color-text-in-primary);
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container img {
  height: 10rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.landing-image {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;
  color: var(--color-button-text);
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container a:first-child {
  margin-right: 1.6rem;
}

.buttons-container a.study {
  background-color: var(--color-primary-lighter);
}

.buttons-container a.teach {
  background-color: var(--color-secondary);
}

.total-connections {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-connections img {
  margin-left: 0.8rem;
}
