#teacher-list-container {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 1.8rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers .input-box {
  position: relative;
}

#search-teachers .input-box + .input-box {
  margin-top: 1.4rem;
}

#search-teachers .input-box label {
  font-size: 1.4rem;
}

#search-teachers .input-box input {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background-color: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: none;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

@media only screen and (min-width: 764px) {
  #teacher-list-container {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    position: absolute;
    bottom: -44px;
  }
}
