#teacher-list-container {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 1.8rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#teacher-list-container main {
  width: 90%;
  margin: 3.2rem auto;
}

@media only screen and (min-width: 764px) {
  #teacher-list-container {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    position: absolute;
    bottom: -28px;
  }

  #search-teachers .input-box + .input-box,
  #search-teachers .select-box + .select-box {
    margin-top: 0;
  }

  #teacher-list-container main {
    max-width: 740px;
    padding: 3.2px 0;
    margin: 3.2rem auto 0;
  }
}
